@tailwind base;
@tailwind components;
@tailwind utilities;

.cute-scroll::-webkit-scrollbar {
  width: 8px;
}
      .cute-scroll::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
      }
      .cute-scroll::-webkit-scrollbar-thumb {
        background: #69C5FF;
        border-radius: 10px;
      }
      .cute-scroll::-webkit-scrollbar-thumb:hover {
        background: #4CAF50;
      }